<div class="fields-conditions-test">
  <span class="fc-title">{{ a.title }}</span>
  <span class="fc-title-min">{{ a.title_font_min }}</span>
  <span class="fc-title-max">{{ a.title_font_max }}</span>
</div>
