.blockstudio-element-slider {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  height: var(--blockstudio-element-slider--height);
  width: 100%;

  &--vertical > .blockstudio-element-slider__wrapper {
    flex-direction: column;
  }

  &--pointer-events {
    touch-action: pan-y;
  }

  &--pointer-events#{&}--slider-vertical {
    touch-action: pan-x;
  }

  &--slide-invisible-blank {
    visibility: hidden;
  }

  &--autoheight {
    &,
    .blockstudio-element-slider__slide {
      height: auto;
    }

    .blockstudio-element-slider__wrapper {
      align-items: flex-start;
      transition-property: transform, height;
    }
  }

  &--android .blockstudio-element-slider__slide,
  &__wrapper {
    transform: translate3d(0px, 0, 0);
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
  }

  &__slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    object-fit: cover;
  }

  &__pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(12px);
    border-radius: 9999px;
    padding: 4px 6px;
    bottom: 12px;
    display: grid;
    grid-gap: 4px;
    grid-auto-flow: column;
    z-index: 1;

    &-bullet {
      width: 6px;
      height: 6px;
      background-color: #fff;
      border-radius: 9999px;
      transition: opacity 0.1s ease-in;
      opacity: 0.5;

      &.is-active {
        opacity: 1;
      }
    }
  }

  &__navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 44px;
    width: 44px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(12px);
    border-radius: 9999px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.1s ease-in;
    cursor: pointer;

    &:hover {
      background: #000;
    }

    &.is-disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    svg {
      transition: background 0.1s ease-in;
      fill: #fff;
    }

    &--prev {
      left: 12px;
    }

    &--next {
      right: 12px;
    }
  }
}
