.blockstudio-element-gallery {
  width: 100%;
  display: grid;
  grid-gap: var(--blockstudio-element-gallery--gap);
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--blockstudio-element-gallery--width), 1fr)
  );

  &--grid {
    .blockstudio-element-gallery__image {
      display: flex;
    }

    .blockstudio-element-gallery__image {
      height: var(--blockstudio-element-gallery--width);
    }
  }

  &--masonry {
    height: 100%;
    grid-auto-rows: 20px;
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }
}
