<div class="bs-block-tags-template" data-block="{{ b.name }}">
  <span class="btt-label">{{ a.label }}</span>
  <div class="btt-embedded">
    <bs:blockstudio-type-block-tags title="From Template" count="99" />
  </div>
</div>
