<div class="blockstudio-test__block" id="{{ b.name|replace({'/': '-'}) }}" useBlockProps>
  <h1>ID: {{ b.name|replace({'/': '-'}) }}</h1>
  <code>Attributes: {{ a|json_encode }}</code>
  <code>Block: {{ b|json_encode }}</code>
</div>
