<div useBlockProps class="blockstudio-test__block test test2 test3" id="{{ b.name|replace({'/': '-'}) }}" style="padding: 1rem; background: #f1f1f1;">
  <code useBlockProps>Block: {{ b|json_encode }}</code>
</div>
