<div class="bs-block-tags-template" data-block="{{ b.name }}">
  <span class="btt-label">{{ a.label }}</span>
  <div class="btt-embedded">
    <bs:blockstudio-type-block-tags-default title="From Template" count="99" />
  </div>
  <div class="btt-core-bs">
    <bs:core-paragraph>Core paragraph via bs tag</bs:core-paragraph>
  </div>
  <div class="btt-core-block">
    <block name="core/paragraph">Core paragraph via block tag</block>
  </div>
</div>
