/**
 * Test classes for E2E tests.
 * These classes are needed for the classes field autocomplete in text.ts.
 */

.is-large {
	font-size: 2em;
}

.is-small {
	font-size: 0.75em;
}

.is-medium {
	font-size: 1em;
}

.is-style-squared {
	border-radius: 0;
}

.is-style-outline {
	border: 1px solid currentColor;
}

.is-style-fill {
	background-color: currentColor;
}
