@import 'onedocs/css/preset.css';

@source "../**/*.tsx";
@source "../../../content/**/*.mdx";
@source "onedocs";

#nd-home-layout {
  height: auto;
  min-height: 100%;
}

#features p.text-fd-muted-foreground {
  text-wrap: pretty;
}

:root {
  --color-plus: oklch(0.65 0.18 85);
  --color-plus-button: oklch(0.85 0.18 85);
  --color-plus-graphic: oklch(0.82 0.14 85);
}

.dark {
  --color-plus: oklch(0.85 0.18 85);
  --color-plus-graphic: oklch(0.85 0.18 85);
}

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}
