[data-bsui-field-group] {
	all: unset;
	display: flex;
	flex-direction: column;
	align-self: stretch;
}

[data-bsui-field-group] > div {
	display: flex;
	flex-direction: column;
	gap: var(--bs-ui-rhythm);
}

[data-bsui-field-group] legend {
	padding: 0;
}

[data-bsui-field-group] legend + [data-bsui-field-group-description] {
	margin-top: calc(var(--bs-ui-space-1) - var(--bs-ui-rhythm));
}

[data-bsui-field-group]:disabled {
	opacity: 0.5;
	pointer-events: none;
}

[data-bsui-field-group] + [data-bsui-field-group] {
	margin-top: var(--bs-ui-space-2);
}

[data-bsui-field-group-content] {
	display: flex;
	flex-direction: column;
	gap: var(--bs-ui-rhythm);
}

[data-bsui-field-group-content] > div {
	display: contents;
}

[data-bsui-field-group][data-variant="card"] {
	background: var(--bs-ui-muted);
	border: 1px solid var(--bs-ui-border);
	border-radius: 1.5rem;
	padding: var(--bs-ui-space-4) var(--bs-ui-space-3) var(--bs-ui-space-1);
}

[data-bsui-field-group][data-variant="card"] > div {
	gap: var(--bs-ui-space-3);
}

[data-bsui-field-group][data-variant="card"] legend {
	padding: 0 var(--bs-ui-space-2);
}

[data-bsui-field-group][data-variant="card"] legend + [data-bsui-field-group-description] {
	padding: 0 var(--bs-ui-space-2);
	margin-top: calc(var(--bs-ui-space-1) - var(--bs-ui-space-3));
}

[data-bsui-field-group][data-variant="card"] [data-bsui-field-group-content] {
	margin: 0 calc(-1 * var(--bs-ui-space-2));
	padding: var(--bs-ui-space-4);
	border: 1px solid var(--bs-ui-border);
	border-radius: 1rem;
	background: var(--bs-ui-background);
}

[data-bsui-field-group-title] {
	font-family: var(--bs-ui-font-sans);
	font-size: var(--bs-ui-font-size);
	font-weight: 500;
	line-height: 1.4;
	color: var(--bs-ui-foreground);
}

[data-bsui-field-group-description] {
	font-family: var(--bs-ui-font-sans);
	font-size: var(--bs-ui-font-size);
	line-height: 1.5;
	color: var(--bs-ui-muted-foreground);
}
