[data-bsui-stack] {
	max-width: 100%;
	width: 100%;
}

[data-bsui-stack] > div {
	display: flex;
	flex-direction: var(--bsui-stack-direction, row);
	gap: var(--bsui-stack-gap, 0.5rem);
	align-items: var(--bsui-stack-align);
	justify-content: var(--bsui-stack-justify, normal);
	flex-wrap: var(--bsui-stack-wrap, nowrap);
}
