.blockstudio-element-code {
  margin: 0;
  background: #18181b;
  color: #a9b7c6;
  filter: saturate(2);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  box-sizing: border-box;
  padding-bottom: 0;
  overflow: auto;
  padding: 32px;
  font-size: 12px;

  * {
    font-family: Consolas, Monaco, "Andale Mono", monospace !important;
  }

  &__copy {
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.05);
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif !important;
    cursor: pointer;
    display: flex;

    &.is-active {
      .blockstudio-element-code__copy {
        &-text {
          opacity: 0;
        }
        &-check {
          opacity: 1;
        }
      }
    }

    &-text,
    &-check {
      transition: opacity 0.25s ease-in;
    }

    &-text {
      padding: 4px 12px;
    }

    &-check {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      position: absolute;
      opacity: 0;

      svg {
        width: 16px;
        height: 16px;
        fill: #fff;
      }
    }
  }

  &.line-numbers {
    position: relative;
    padding-left: 60px;
    counter-reset: linenumber;

    & > code {
      position: relative;
      white-space: inherit;
    }
    .line-numbers-rows {
      position: absolute;
      pointer-events: none;
      font-size: 100%;
      top: 0;
      left: -60px;
      width: 48px;
      letter-spacing: -1px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      & > span {
        display: block;
        counter-increment: linenumber;
      }
      & > span:before {
        content: counter(linenumber);
        color: #999;
        display: block;
        padding-right: 12px;
        text-align: right;
      }
    }
  }

  .token.comment,
  .token.prolog,
  .token.cdata {
    color: #808080;
  }

  .token.delimiter,
  .token.boolean,
  .token.keyword,
  .token.selector,
  .token.important,
  .token.atrule {
    color: #cc7832;
  }

  .token.operator,
  .token.punctuation,
  .token.attr-name {
    color: #a9b7c6;
  }

  .token.tag,
  .token.tag .punctuation,
  .token.doctype,
  .token.builtin {
    color: #e8bf6a;
  }

  .token.entity,
  .token.number,
  .token.symbol {
    color: #6897bb;
  }

  .token.property,
  .token.constant,
  .token.variable {
    color: #9876aa;
  }

  .token.string,
  .token.char {
    color: #6a8759;
  }

  .token.attr-value,
  .token.attr-value .punctuation {
    color: #a5c261;
  }

  .token.attr-value .punctuation:first-child {
    color: #a9b7c6;
  }

  .token.url {
    color: #287bde;
    text-decoration: underline;
  }

  .token.function {
    color: #ffc66d;
  }

  .token.regex {
    background: #364135;
  }

  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  .token.inserted {
    background: #294436;
  }

  .token.deleted {
    background: #484a4a;
  }

  code.language-css .token.property,
  code.language-css .token.property + .token.punctuation {
    color: #a9b7c6;
  }

  code.language-css .token.id {
    color: #ffc66d;
  }

  code.language-css .token.selector > .token.class,
  code.language-css .token.selector > .token.attribute,
  code.language-css .token.selector > .token.pseudo-class,
  code.language-css .token.selector > .token.pseudo-element {
    color: #ffc66d;
  }
}
