<div>
  <h2>Twig Pattern Heading</h2>
  <p>This pattern uses {{ "Twig"|upper }} template.</p>
  <block name="core/buttons">
    <block name="core/button" url="#">Twig Pattern Button</block>
  </block>
</div>
